<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thy's Rentals</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <form action="/search" method="POST">
            <p>Thy's Rentals</p>
            <div id = "search_box">
                <input type="text" placeholder="Enter keyword" name="searchInfo"> 
                <button>Search</button>
            </div>
        </form>     
    </header>
    {{!--This is where the body will be inserted--}}
    {{{body}}}
    
    <footer>   
    </footer>
    
</body>
</html>