<div class="container d-flex justify-content-center">
    <div class="card">
        <div class="card-body">
            <label class="form-label mb-2">Card Number</label>
            <form action="/logging" method="POST">
                <div class="mb-3">
                    <input type="text" class="form-control" name="cardNumber" placeholder="Enter your card number">
                </div>
                <button type="submit" class="btn btn-success w-100" style="font-weight: bold" name="login">LOGIN</button>
            </form>
        </div>
    </div>
</div>