
<main>
    <h1 id = "header_title">Why make hooman friends when you can rent cute pets</h1>
    <div id = "images">
        {{#each items}}
            {{> blog this }}
        {{/each}}
    </div>
    
    <div id = "link_container">
        <a id="link" href="rentalcatalogue">See all friends</a>
    </div>
</main>


